*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Raleway, sans-serif;
}

/*---HEADER---*/
header {
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 500;
    display: grid;
    align-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
}

.nav_anchors {
    color: #000;
    transition-duration: 0.3s;
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

.header_signup {
    padding: 5px;
    color: #0065FC;
    font-weight: bold;
    grid-area: signup;
    transition: 0.3s;
}

.header_signup:hover {
    background-color: #DEEBFF;
    border-radius: 15px;
    padding: 5px;
}

.header_signup:active {
    position: relative;
    top: 2px;
}

/*---HEADER RESPONSIVE---*/
@media screen and (min-width: 601px) {
    header {
        padding-top: 30px;
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . nav signup";
    }

    .nav_anchors {
        padding: 40px 32px;
        border-top: 3px transparent solid;
        border-bottom: 3px transparent solid;
    }

    .nav_anchors:hover {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }

    .header_signup {
        margin-left: 32px;
    }
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        padding-top: 10px;
        grid-template-rows: 1fr 100px;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . signup" "nav nav nav";
    }

    .nav_anchors {
        font-size: 1.5rem;
        border-bottom: 3px solid #F2F2F2;
    }

    .housing {
        display: inline-block;
        padding-bottom: 10px;
        width: 50vw;
    }

    .activity {
        display: inline-block;
        padding-bottom: 10px;
        width: 50vw;
    }

    .nav_anchors:hover {
        color: #0065FC;
        border-top: transparent;
        border-bottom-color: #0065FC;
    }

    .logo {
        margin-left: 10px;
    }

    .header_signup {
        margin-right: 10px;
    }
}

/*---SECTION SEARCH---*/
main {
    width: 90%;
    margin: auto;
}

/*-SEARCH-TEXT-*/
.search_text h1{
    margin-top: 30px;
    font-size: 2.2rem;
}

.search_text p{
    margin: 10px 0 20px 0;
    font-size: 1.6rem;
}

/*-FORM-*/
form{
    display: inline-flex;
}

form > *{
    border: 0;
    padding: 10px 20px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    outline: 0;
}

input{
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

#search::placeholder{
    color: #000;
}

label{
    background: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

label img{
    width: 20px;
    position: relative;
}

form button{
    background: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF;
    cursor: pointer;
}

form button img{
    display: none;
}

/*---RESPONSIVE SECTION SEARCH---*/
@media screen and (max-width: 600px){
    .search_text h1{
        margin-top: 0;
        font-size: 1.8rem;
    }
    .search_text p{
        font-size: 1.5rem;
    }
    form > *{
    padding: 10px 10px;
    }
    form input{
        padding-right: 30px;
    }
    form button span{
        display: none;
    }
    form button img{
        display: flex;
        width: 20px;
    }
    form button {
        border-radius: 12px;
    }
}
