*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Raleway, sans-serif;
}

/*---HEADER---*/
header {
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 500;
    display: grid;
    align-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
}

.nav_anchors {
    color: #000;
    transition-duration: 0.3s;
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

.header_signup {
    padding: 5px;
    color: #0065FC;
    font-weight: bold;
    grid-area: signup;
    transition: 0.3s;
}

.header_signup:hover {
    background-color: #DEEBFF;
    border-radius: 15px;
    padding: 5px;
}

.header_signup:active {
    position: relative;
    top: 2px;
}

/*---RESPONSIVE HEADER---*/
@media screen and (min-width: 601px) {
    header {
        padding-top: 30px;
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . nav signup";
    }

    .nav_anchors {
        padding: 40px 32px;
        border-top: 3px transparent solid;
        border-bottom: 3px transparent solid;
    }

    .nav_anchors:hover {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }

    .header_signup {
        margin-left: 32px;
    }
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        padding-top: 10px;
        grid-template-rows: 1fr 100px;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . signup" "nav nav nav";
    }

    .nav_anchors {
        font-size: 1.5rem;
        border-bottom: 3px solid #F2F2F2;
    }

    .housing {
        display: inline-block;
        padding-bottom: 10px;
        width: 50vw;
    }

    .activity {
        display: inline-block;
        padding-bottom: 10px;
        width: 50vw;
    }

    .nav_anchors:hover {
        color: #0065FC;
        border-top: transparent;
        border-bottom-color: #0065FC;
    }

    .logo {
        margin-left: 10px;
    }

    .header_signup {
        margin-right: 10px;
    }
}

/*---SECTION SEARCH---*/
main {
    width: 90%;
    margin: auto;
}

/*-SEARCH TITLE-*/
.search_title h1 {
    margin-top: 35px;
    font-size: 2.2rem;
}

.search_title p {
    margin: 10px 0 20px 0;
    font-size: 1.6rem;
}

/*-FORM-*/
form {
    display: inline-flex;
}

form > * {
    border: 0;
    padding: 10px 20px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    outline: 0;
}

input {
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

#search::placeholder {
    color: #000;
}

label {
    background: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

form button {
    background: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #FFF;
    cursor: pointer;
}

.search_icon {
    display: none;
}

/*-SEARCH FILTERS-*/
.search_filters {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.search_filters h2 {
    font-size: 1.7rem;
    margin-right: 10px;
}

.search_filters > div {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding-right: 15px;
    border: solid 2px #E0E0E0;
    border-radius: 30px;
    transition: 0.25s ease-in-out;
}

.search_filters > div:hover{
    cursor: pointer;
    transform: translate(2px, -2px);
}

.search_filters > div > span {
    padding: 15px;
    margin-right: 10px;
    margin-left: -2px;
    position: relative;
}

.search_filters > div > span:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #DEEBFF;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 1;
    transition: 0.25s ease-in-out;
}

.search_filters > div:hover span:after{
    background: #0065FC;
}

.search_filters > div > span > i {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    color: #0065FC;
    transition: 0.25s ease-in-out;
}

.search_filters > div:nth-child(2) > span > i{
   left:-2px;
}

.search_filters > div:nth-child(3) > span > i{
    left:2px;
}

.search_filters > div:hover i{
    color: #DEEBFF;
}

/*-SEARCH INFO-*/
.search_info {
    margin-top: 20px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.search_info > span > i {
    color: #0065FC;
    font-size: 1.1rem;
    border: solid 2px #E0E0E0;
    padding: 6px 10px;
    border-radius: 100%;
    margin-right: 8px;
}

/*---RESPONSIVE SECTION SEARCH---*/
@media screen and (max-width: 600px) {
    /*RP SEARCH TITLE*/
    .search_title h1 {
        margin-top: 0;
        font-size: 1.8rem;
    }

    .search_title p {
        font-size: 1.5rem;
    }
    /*RP FORM*/
    form > * {
        padding: 10px 10px;
    }

    form input {
        padding-right: 35px;
    }

    form button span {
        display: none;
    }

    .search_icon {
        display: flex;
    }

    form button {
        border-radius: 12px;
    }
}
    /*RP SEARCH FILTERS*/
@media screen and (max-width: 945px){
    .search_filters {
        font-size: 1.4rem;
    }

    .search_filters h2{
        font-size: 1.6rem;
    }

    .search_filters > div {
        margin: 5px 10px 5px 0;
    }

    .search_filters > div > span:after {
        width: 48px;
        height: 48px;
        top: -1px;
    }
}

@media screen and (max-width: 405px){
    .search_filters h2{
        width: 100%;
    }
}

@media screen and (max-width: 330px){
    /*RP FORM*/
    form input {
        font-size: 1.4rem;
        padding-right: 45px;
    }

    /*RP SEARCH FILTERS*/
    .search_filters > div:nth-child(3) {
        margin: 5px 0;
    }
}

